@media screen and (max-width: 1079px){

    /* intro-banner queries////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    #banner{
        grid-template-columns: 1fr;
        height: 100%;
    }

    #banner-grid2{
        display: none;
    }

    #theme-switch{
        width: 200px;
        height: 200px;
        margin: 100px auto auto 70%;
    }

    /* projects queries////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    .projects{
        height: 100vh;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 799px){
    .timeline{
        margin: 0 10%;
    }
}