
:root{
    --theme: #f73736;
    --font-color: aliceblue;
    --font-color2: rgba(240, 248, 255, 0.8);
    --font-color3: rgba(0, 0, 0, 0.8);
    --bold: 700;
    --normal: 400;
    --layout: 1fr 1fr 1fr;
    --layout2: 1fr 1fr;
    --width: 100vw;
    --shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);
    --AA: antialiased;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --pad: 50px 0;
    --pad2: 10px 0;
    --pad3: 100px 50px;
    --box: 50px;
    --speed: all 100ms ease-in-out;
    --speed2: all 300ms ease-in-out;
}

/* general ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

*{
    margin: 0;
    line-height: 1.2em;
}

h1{
    color: var(--theme);
    font-family: var(--font);
    font-size: 30px;
}

p{
    font-family: var(--font);
    font-size: 20px;
    color: var(--font-color3);
    padding: var(--pad2);
}

a{
    text-decoration: none;
    color: var(--theme);
}
a:hover{
    opacity: 0.8;
}

button, input[type=submit]{
    text-decoration: none;
    background: var(--theme);
    border: 2px solid var(--font-color);
    color:  var(--font-color);
    padding: 10px;
    width: 150px;
    font-size: 16px;
    transition: var(--speed);
}

button:hover, input[type=submit]:hover{
    cursor: pointer;
    background: var(--font-color);
    color: var(--theme);
}

/* intro banner //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#banner {
    max-width: var(--width);
    display: grid;
    grid-template-columns: var(--layout2);
    height: 100vh;
}

#banner-grid1 {
    background: var(--theme);
    padding: var(--box);
}

#banner-grid2{
    background: url(../img/Josh.JPG) no-repeat;
    background-size: cover;
}

h2, h3, input::placeholder, textarea::placeholder{
    -webkit-font-smoothing: var(--AA);
    font-family: var(--font);
}

h2{
    color: var(--font-color);
    font-weight: var(--bold);
    font-size: 28px;
}

h3{
    color: var(--font-color2);
    font-weight: var(--normal);
    font-size: 18px;
}

#pop-up{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.1);
}

#theme-switch {
    display: grid;
    grid-template-columns: var(--layout2);
    background-color: #f1f1f1;
    width: 20vw;
    height: 20vw;
    margin: 10% auto;
}

#theme-switch  span{
    width: 100%;
    cursor: pointer;
    box-shadow: var(--shadow);
    z-index: 2;
}
#theme-switch span:active{
    transform: scale(0.9);
    transition: var(--speed);
} 

/* experience and education section //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.experience{
    padding: var(--pad);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    text-align: center;
}

.timeline{
    padding: var(--pad);
    margin: 0 25%;
    justify-self: center;
}

.timeline img{
    transform: rotate(-53deg);
    width: 50px;
    padding-top: 20px;
}

/* skillset //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.parallax1, .parallax2, .parallax3, .parallax4{
    height: 70vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.parallax1{background-image: url(../img/basic\ set.jpg)}
.parallax2{background-image: url(../img/php.png)}
.parallax3{background-image: url(../img/wordpress.png)}
.parallax4{background-image: url(../img/vuejq.jpg)}

/* projects //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.projects{
    height: 65vh;
    grid-gap: 20px;
    display: grid;
    padding: var(--box);
    grid-template-columns: var(--layout);
    transition: var(--speed2);
}

#page1, #page2, #page3{
    background-size: cover;
    box-shadow: var(--shadow);
    cursor: pointer;
}
#page1{background: url(../img/Outbound.PNG) center no-repeat}
#page2{background: url(../img/wordpress-portfolio.PNG) center no-repeat}
#page3{background: url(../img/punch.PNG) center no-repeat}

.active{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    transition: var(--speed2);
    overflow: hidden;
}

.steekhomweg, .text, .close{
    display: none;
}

.block {
    padding: 0;
    height: 80vh;
    grid-template-columns: 1fr;
}

.show-text{
    display: inherit;
}

.text{
    padding: var(--pad3);
    padding-bottom: 0;
}

.close{
    margin-left: 50px;
}

/* contact ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#contact{
    height: 500px;
    padding: 0;
    border: none;
}

.overlay2{
    height: 100%;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.7);
    display: grid;
    grid-gap: 50px;
    grid-template-columns: var(--layout2);
}

.copy{
    text-align: center;
    padding: 30px 0;
}

.contact-grid1{
    padding-top: 50px;
    justify-self: right;
}

.contact-grid2{
    padding-top: 50px;
    justify-self: left;
    text-align: left;
}

input, textarea{
    margin: 3px 0;
    text-decoration: none;
    width: 400px;
    resize: none;
    padding: 10px;
    border: none;
}

input[type=submit]{
    width: 420px;
}

i{
    cursor: pointer;
}
i:hover, hr{
    opacity: 0.8;
}

.hr{
    border: 1px solid var(--font-color);
}

