body{
    --theme: #f73736;
    --font-color2: rgba(240, 248, 255, 0.8);
}

$font-color: aliceblue;
$font-color3: rgba(0, 0, 0, 0.8);
$bold: 700;
$normal: 400;
$layout: 1fr 1fr 1fr;
$layout2: 1fr 1fr;
$width: 100vw;
$shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
$AA: antialiased;
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$pad: 50px 0;
$pad2: 10px 0;
$pad3: 100px 50px;
$box: 50px;
$speed: all 100ms ease-in-out;
$speed2: all 300ms ease-in-out;
